/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */
.hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
}

/* Slideshow background */
.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* behind content */
  background: transparent;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: calc(15% + 100px); /* Show entire image */
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Overlay for content */
.overlay {
  position: relative;
  z-index: 1;
  background:#008080;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; /* split into top + bottom */
}

/* Top Half (Navbar + Logo) */
.hero-top {
  position: relative;
  height: 40vh;
  overflow: hidden;
 
}

/* Bottom Half (Hero Content) */
.hero-bottom {
  position: relative;
  overflow: hidden;
  height: 40vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo {
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 40px;
  font-family: 'Poppins';
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 25px;
  text-transform: uppercase
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
}

.nav-links a:hover {
  color: #FF6F61;
}

/* Hero Content */

.tagline {
  color: #fff;
  font-family: playfair display;
  font-size: x-large;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
}
.tag {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
}
.copyright {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
  max-width: 600px;
}
.site-footer {
  background:#008080;
  color: #f2f4f5;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 30px 20px;
}

.site-footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* space between items */
}

.site-footer .tag {
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 2px;
}

.site-footer .btn {
  background: #FF6F61;
  color: #000;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.site-footer .btn:hover {
  background: #FF6F61;
}

.site-footer p {
  margin: 5px 0;
  font-size: 0.9rem;
}
